<%# Display all information about a specific flight or an error message %>
<%# if the flight isn't found. %>

<h1>Flight Information</h1>

<% if @current_flight.nil? %>

  <%# Message to display if the flight isn't found %>

  <h2>Flight not found</h2>

<% else %>

  <%# Information to display if the flight is found %>

  <div>
    <strong>Aircraft Identification:</strong>
    <%= link_to @current_flight.airplane.identification, :controller => "airplanes", :action => "show",
        :id => @current_flight.airplane.id %>
  </div>



  <div>
    <strong>Aircraft Type:</strong>
    <%= @current_flight.airplane.airplane_type %>
  </div>



  <div>
    <strong>Date:</strong>
    <%= @current_flight.flight_date.strftime("%m/%d/%Y") %>
  </div>



  <div>
    <strong>From:</strong>
    <%= @current_flight.departure_airport %>
  </div>



  <div>
    <strong>To:</strong>
    <%= @current_flight.destination_airports %>
  </div>



  <%# Display the non-zero times listed in the flight %>
  <% @current_flight.attributes.each_pair do |name, value| %>
    <% if @times_to_display[name] != nil and value != nil and value != 0 %>
      <div>
        <strong><%= @times_to_display[name] %>:</strong>
        <%= "%.1f" % value %>
      </div>
    <% end %>
  <% end %>



  <%# Display the appropriate times based on airplane type %>
  <% @current_flight.airplane.attributes.each_pair do |name, value| %>
    <% if @airplane_display_times[name] != nil and value %>
      <div>
        <strong><%= @airplane_display_times[name] %>:</strong>
        <%= "%.1f" % @current_flight.total_time %>
      </div>
    <% end %>
  <% end %>



  <% if @current_flight.day_landings != 0 %>
    <div>
      <strong>Day Landings:</strong>
      <%= @current_flight.day_landings %>
    </div>
  <% end %>



  <% if @current_flight.night_landings != 0 %>
    <div>
      <strong>Night Landings:</strong>
      <%= @current_flight.night_landings %>
    </div>
  <% end %>



  <% if @current_flight.number_approaches != 0 %>
    <div>
      <strong>Approaches:</strong>
      <%= @current_flight.number_approaches %>
    </div>
  <% end %>



  <% if @current_flight.number_holds != 0 %>
    <div>
      <strong>Holds:</strong>
      <%= @current_flight.number_holds %>
    </div>
  <% end %>



  <div>
    <strong>Remarks:</strong>
    <%= @current_flight.remarks %>
  </div>



  <%# Display information about reviews if the flight was a review and allow users to add one if not%>
  <% if not @current_flight.review.nil? %>

    <%# Flight was a review %>

    <br />
    <strong>Review:</strong>

    <div>
      <strong>Reviewer Name:</strong>
      <%= @current_flight.review.name_of_reviewer %>
    </div>

    <div>
      <strong>Review Type(s)</strong>
      <ul>
        <% @current_flight.review.attributes.each_pair do |name, value| %>
          <% if @review_types[name] != nil and value %>
            <li><%= @review_types[name] %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br />
    <%= link_to "Delete Review", { controller: :reviews, action: :destroy, id: @current_flight.review.id,
                                   flight_id: @current_flight.id }, method: :delete,
                                   data: { confirm: "Are you sure?" } %>

  <% else %>

    <%# Flight wasn't a review %>

    <br />
    <strong>Review:</strong>
    <%= link_to "Add Review", :controller => "reviews", :action => "new", :flight_id => @current_flight.id %>

  <% end %>



  <br />



  <%# Display information about checkrides if the flight was a checkride and allow users to add one if not%>
  <% if not @current_flight.checkride.nil? %>

    <%# Flight was a checkride %>

    <br />
    <strong>Checkride:</strong>

    <div>
      <strong>Examiner:</strong>
      <%= @current_flight.checkride.examiner_name %>
    </div>

    <div>
      <strong>Checkride Type:</strong>
      <% if @current_flight.checkride.certificate %>
        <%= @current_flight.checkride.certificate_type %>
      <% end %>
      <ul>
        <% @current_flight.checkride.attributes.each_pair do |name, value| %>
          <% if @checkride_types[name] != nil and value %>
            <li><%= @checkride_types[name] %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

  <% else %>

    <%# Flight wasn't a checkride %>

    <br />
    <strong>Checkride:</strong>
    <%= link_to "Add Checkride", :controller => "checkrides", :action => "new", :flight_id => @current_flight.id %>

  <% end %>

<% end %>
