<h1>All airplanes</h1>

<div>
  <table>
    <tr>
      <th>Display Name</th>
      <th>Identification</th>
      <th>Type</th>
      <th>Complex</th>
      <th>High Performance</th>
      <th>Tailwheel</th>
      <th>High Altitude</th>
      <th>Turbine</th>
      <th>Glider</th>
      <th>Rotorcraft</th>
      <th>Powered Lift</th>
      <th>Lighter Than Air</th>
      <th>Single Engine Land</th>
      <th>Single Engine Sea</th>
      <th>Multi-Engine Land</th>
      <th>Multi-Engine Sea</th>
      <th>Simulator</th>
    </tr>

    <% for airplane in @airplane_list %>
      <tr>
        <td><%= airplane.display_name %></td>
        <td><%= airplane.identification %></td>
        <td><%= airplane.airplane_type %></td>
        <td><%= airplane.complex %></td>
        <td><%= airplane.high_performance %></td>
        <td><%= airplane.tailwheel %></td>
        <td><%= airplane.high_altitude %></td>
        <td><%= airplane.turbine %></td>
        <td><%= airplane.glider %></td>
        <td><%= airplane.rotorcraft %></td>
        <td><%= airplane.powered_lift %></td>
        <td><%= airplane.lighter_than_air %></td>
        <td><%= airplane.single_engine_land %></td>
        <td><%= airplane.single_engine_sea %></td>
        <td><%= airplane.multi_engine_land %></td>
        <td><%= airplane.multi_engine_sea %></td>
        <td><%= airplane.simulator %></td>
      </tr>
    <% end %>

  </table>
</div>
