<%# View for the form where users can add an airplane %>

<h1>New Airplane</h1>

<%= form_for :airplane, url: airplanes_path do |f| %>

  <div class="row">

    <div class="col-md-4">
      <%= f.label :identification %>
      <%= f.text_field :identification %>
    </div>

    <div class="col-md-4">
      <%= f.label :airplane_type %>
      <%= f.text_field :airplane_type %>
    </div>

    <div class="col-md-4">
      <%= f.label :display_name %>
      <%= f.text_field :display_name %>
    </div>

  </div>





  <br />





  <div class="row">

    <div class="col-md-2">
      <%= f.label :complex %><br />
      <%= f.check_box :complex %>
    </div>

    <div class="col-md-2">
      <%= f.label :high_performance %><br />
      <%= f.check_box :high_performance %>
    </div>

    <div class="col-md-2">
      <%= f.label :tailwheel %><br />
      <%= f.check_box :tailwheel %>
    </div>

    <div class="col-md-2">
      <%= f.label :high_altitude %><br />
      <%= f.check_box :high_altitude %>
    </div>

    <div class="col-md-2">
      <%= f.label :turbine %><br />
      <%= f.check_box :turbine %>
    </div>

  </div>





  <br />





  <div class="row">

    <div class="col-md-2">
      <%= f.label :glider %><br />
      <%= f.check_box :glider %>
    </div>

    <div class="col-md-2">
      <%= f.label :rotorcraft %><br />
      <%= f.check_box :rotorcraft %>
    </div>

    <div class="col-md-2">
      <%= f.label :powered_lift %><br />
      <%= f.check_box :powered_lift %>
    </div>

    <div class="col-md-2">
      <%= f.label :lighter_than_air %><br />
      <%= f.check_box :lighter_than_air %>
    </div>

    <div class="col-md-2">
      <%= f.label :single_engine_land %><br />
      <%= f.check_box :single_engine_land %>
    </div>

  </div>





  <br />





  <div class="row">

    <div class="col-md-2">
      <%= f.label :single_engine_sea %><br />
      <%= f.check_box :single_engine_sea %>
    </div>

    <div class="col-md-2">
      <%= f.label :multi_engine_land %><br />
      <%= f.check_box :multi_engine_land %>
    </div>

    <div class="col-md-2">
      <%= f.label :multi_engine_sea %><br />
      <%= f.check_box :multi_engine_sea %>
    </div>

    <div class="col-md-2">
      <%= f.label :simulator %><br />
      <%= f.check_box :simulator %>
    </div>

  </div>





  <br />





  <div class="actions">
    <%= f.submit "Add airplane" %>
  </div>

<% end %>
