<%# Display all currency information %>
<%# TODO - make all of this color coded based on whether or not it is expired %>

<div class="row">

  <div class="col-md-12">

    <h1 class="text-center">Currency Information</h1>

  </div>

</div>





<div class="row">

  <div class="col-md-6 text-center">

  <h3>Medical Currency</h3>

    <%# Check to see if the current user has medicals listed %>
    <% if @current_medical.nil? %>

      <%# Couldn't find any medicals for the current user %>
      <p>No medical found</p>

    <% else %>

      <%# Found medicals for the current user %>

      <div>
        <%= @current_medical.exam_date.strftime("Exam date: %m/%d/%Y") %>

        <%# Display the privileges and expiration dates of medicals %>
        <% if @current_medical.original_privileges? %>
          <p>Privileges of class <%= @medical_class %> medical valid through <%= @current_medical.end_date(@medical_class).strftime("%m/%d/%Y") %></p>
        <% elsif @current_medical.valid_for_flight? %>
          <p>Privileges of class 3 medical valid through <%= @current_medical.end_date(3).strftime("%m/%d/%Y") %></p>
        <% else %>
          <p>Medical expired</p>
        <% end %>
      </div>

    <% end %>

  </div>





  <div class="col-md-6 text-center">

    <%# Only display PIC currency information if the user is not a student pilot %>
    <% if current_user.certificate_type != "STU" %>

      <h3>PIC Currency</h3>

      <%# Check to see if the current user is eligible to act as PIC or if they need a flight review %>

      <div>
        <% if current_user.pic_current? %>
          <p>Next flight review needed on or before <%= current_user.last_pic_date.strftime("%m/%d/%Y") %></p>
        <% else %>
          <p>Not PIC current. You need a flight review, a new rating, or a new certificate!</p>
        <% end %>
      </div>

    <% end %>

  </div>

</div>





<div class="row">

  <div class="col-md-6 text-center">

    <%# Only display passenger currency information if user is able to carry passengers %>
    <% if current_user.certificate_type != "STU" %> 

      <h3>Passenger Currency</h3>

      <%# Display information about day and night passenger currency %>
      <%# TODO - add tailwheel currency %>

      <div>
        <% if current_user.day_current? %>
          <p>Day current through <%= current_user.last_day_current_date.strftime("%m/%d/%Y") %></p>
        <% else %>
          <p>Not day current</p>
        <% end %>

        <%# Make sure that the user isn't a sport pilot or recreational pilot %>
        <% if current_user.certificate_type != "SPT" and current_user.certificate_type != "RPL" %>
          <% if current_user.night_current? %>
            <p>Night current through <%= current_user.last_night_current_date.strftime("%m/%d/%Y") %></p>
          <% else %>
            <p>Not night current</p>
          <% end %>
        <% end %>
      </div>

    <% end %>

  </div>





  <div class="col-md-6 text-center">

    <%# Only display instrument currency information if the user is instrument rated %>
    <% if current_user.instrument_rated? %>

      <h3>Instrument Currency</h3>

      <%# Display information about instrument currency %>

      <div>
        <% if current_user.instrument_current? %>
          <p>Instrument current through <%= current_user.last_instrument_current_date.strftime("%m/%d/%Y") %></p>
        <% else %>
          <p>Not instrument current</p>
        <% end %>
      </div>

    <% end %>

  </div>

</div>
