<%# View for the home page %>

<h1>Home Page</h1>

<% if user_signed_in? %>

  <%# Display this information if there is a user signed in %>

  <h2>Medicals</h2>
  <%= link_to "Add medical", controller: "medicals", action: "new" %><br />
  <%= link_to "View medicals", controller: "medicals", action: "index" %>

  <h2>Airplanes</h2>
  <%= link_to "Add airplane", controller: "airplanes", action: "new" %><br />
  <%= link_to "View airplanes", controller: "airplanes", action: "index" %>

  <h2>Flights</h2>
  <%= link_to "Add flight", controller: "flights", action: "new" %><br />
  <%= link_to "View flights", controller: "flights", action: "index" %>

  <h2>Endorsements</h2>
  <%= link_to "Add endorsement", controller: "endorsements", action: "new" %><br />
  <%= link_to "View endorsements", controller: "endorsements", action: "index" %>

  <h2>Currency</h2>
  <%= link_to "View currency information", controller: "currency", action: "index" %>

  <h2>Statistics</h2>
  <%= link_to "View statistics", controller: "statistics", action: "index" %>

<% else %>

  <%# Display this information if there is no user signed in %>

  <h2>Welcome!</h2>
  <p>Please make an account or sign in if you already have one.</p>

<% end %>
