<!DOCTYPE html>

<%# This is the template which wraps all other views %>

<html>

  <head>
    <title>Logbook</title>

    <%# Include all of the CSS and Javascript %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>





  <body>

    <div class="container">

      <%# Navbar displayed on each page %>
      <div class="navbar">
        <%= nav_bar fixed: :top, brand: "Logbook", responsive: true do %>

          <%# The stuff on the right side of the navbar %>
          <%= menu_group pull: :right do %>

            <% if user_signed_in? %>
              <%# Navbar buttons on the right to display if the user is signed in %>
              <%= menu_text 'Logged in as ' + current_user.first_name + ' ' + current_user.last_name %>
              <%= menu_item 'Edit Profile', edit_user_registration_path %>
              <%= menu_item 'Logout', destroy_user_session_path, :method => :delete %>

            <% else %>
              <%# Navbar buttons to display on the right when there is no user signed in %>
              <%= menu_item 'Sign Up', new_user_registration_path %>
              <%= menu_item 'Login', new_user_session_path %>
            <% end %>

          <% end %>
        <% end %>

      </div>





      <%# Notifications for the devise framework %>
      <% if notice %>
        <div class="alert alert-info">
          <p><%= notice %></p>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-warning">
          <p><%= alert %></p>
        </div>
      <% end %>





      <%# Display the views here %>
      <%= yield %>

    </div>

  </body>

</html>
