<!DOCTYPE html>
<html>
<head>
  <title>Logbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

   <div class="navbar">
      <% if user_signed_in? %>
        <p>
          Logged in as: <%= current_user.first_name %> <%= current_user.last_name %>(<%= current_user.certificate_type %>) | 
          <%= current_user.email %> | 
          Certificate Number: <%= current_user.certificate_number %> <%= current_user.certificate_issue_date.strftime("Issued on %m/%d/%Y") %> | 
          <%= current_user.birth_date.strftime("Born %m/%d/%Y") %> | 
          <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %> | 
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'navbar-link' %> | 
          <%= link_to 'Home', controller: 'home', action: 'index' %>
        </p>
      <% else %>
         <p>
            <%= link_to 'Sign Up', new_user_registration_path, :class => 'navbar-link' %> | 
            <%= link_to 'Login', new_user_session_path, :class => 'navbar-link' %>
         </p>
      <% end %>
   </div>

   <% if notice %>
      <p class="notice"><%= notice %></p>
   <% end %>

   <% if alert %>
      <p class="alert"><%= alert %></p>
   <% end %>

<%= yield %>

</body>
</html>
